[push]
    default = simple

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = nvim -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE '+syntax off'

[color]
    ui = auto

[alias]
    d = difftool -d
    lg = log --decorate --graph
    tg = log --decorate --graph --oneline
    shw = show --decorate -s
    ctags = !.git/hooks/ctags
    cln = clean -d -x -f -f -q

[init]
    templatedir = ~/.git_template
    defaultBranch = main

[merge]
    conflictstyle = diff3
    tool = nvimdiff

[checkout]
    defaultRemote = origin

[core]
    editor = nvim

[pull]
    ff = only

[help]
    autocorrect = prompt
